{% load static %}
{% load menu_tags %}
<ul>
    <li><a href="#">Разделы сайта</a>
        <div class="megamenu">
            <ul class="single-mega cn-col-4">
                <li class="title">Категории</li>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'all_posts_list' %}">Заметки о еде</a></li>
                <li><a href="{% url 'all_recipes_list' %}">Рецепты</a></li>
                <li><a href="{% url 'about' %}">О проекте</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
            <div class="single-mega cn-col-4">
                <div class="receipe-slider owl-carousel">
                    <a href="#"><img src="{% static 'img/bg-img/bg1.jpg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/bg-img/bg6.jpg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </li>

    {% get_categories %}  {# Заметки, рецепты по категориям #}

    {% if can_share_recipe %}
    <li class="dropdown">
        <a href="">Стать автором</a>
            <ul class="dropdown">
                <li><a href="{% url 'add_post' %}">Добавить статью</a></li>
                <li><a href="{% url 'add_recipe' %}">Добавить рецепт</a></li>
                <li><a href="{% url 'user_posts_and_recipes' %}">Редактировать</a></li>
            </ul>
    </li>
    {% endif %}
</ul>
