{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb2.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>О проекте</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        <div>
                            <p>Добро пожаловать на наш сайт о полезной и вкусной еде! Мы создали это пространство для тех, кто увлечен
                                кулинарией и стремится к разнообразию и качеству в приготовлении пищи.</p>
                            <div>
                                <h6>Наша миссия</h6>
                                <p>Мы верим, что правильное питание - это основа здорового образа жизни. Наша цель - вдохновить вас на заботу
                                    о себе и своих близких, предоставляя качественные и проверенные рецепты, которые сочетают в себе вкус и
                                    пользу.</p>
                                <h6>Что мы предлагаем</h6>
                                <p>На нашем сайте вы найдете огромное количество рецептов на любой вкус и предпочтение. Независимо от того,
                                    являетесь ли вы опытным поваром или только начинаете свой кулинарный путь, у нас есть что-то для вас. Мы
                                    собрали лучшие рецепты из различных кухонь мира, чтобы удовлетворить ваши кулинарные желания.</p>
                                <h6>Функциональные возможности</h6>
                                <p>Для всех посетителей нашего сайта доступен просмотр рецептов, они могут легко найти интересующие их блюда и
                                    экспериментировать с новыми вкусами и ингредиентами. Для зарегистрированных пользователей открываются
                                    дополнительные возможности. Вы можете делиться своими любимыми рецептами и статьями о кулинарии, а также
                                    обсуждать их с другими членами нашего сообщества. Это отличная возможность поделиться своим опытом, получить
                                    обратную связь и вдохновить других на кулинарные эксперименты.</p>
                                <h6>Присоединяйтесь к нам!</h6>
                                <p>Присоединяйтесь к нашему сообществу и открывайте для себя новые вкусы, делитесь своими кулинарными открытиями
                                    и наслаждайтесь процессом приготовления вкусных и полезных блюд! Рады видеть вас на нашем сайте о вкусной и
                                    полезной еде!</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">
                      <!-- Widget -->
                    <div class="single-widget mb-80">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>Пища столь же необходима для здоровья, сколь необходимо приличное обращение к человеку образованному.</h4>
                            <p>Козьма Прутков</p>
                            <div class="date-comments d-flex justify-content-between">
                                <div class="date">XIX век</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock content %}
