{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb2.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Все рецепты</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        {% for recipe in all_recipes %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ recipe.name }}</h2>
                                <p class="card-text">{{ recipe.directions }}</p>
                                <p class="card-text"><small class="text-muted">Автор: {{ recipe.author.username }}</small></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>


            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">
                    <!-- Widget -->
                    <div class="single-widget mb-80">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>Между хорошим обедом и долгой жизнью только та разница, что за обедом сладкое подают в конце.</h4>
                            <p>Роберт Льюис Стивенсон</p>
                            <div class="date-comments d-flex justify-content-between">
                                <div class="date">Конец XIX века</div>
                            </div>
                        </div>
                    </div>
                      <!-- Widget -->
                    <div class="single-widget mb-80">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>Аппетит приходит во время еды.</h4>
                            <p>Франсуа Рабле</p>
                            <div class="date-comments d-flex justify-content-between">
                                <div class="date">XIV век</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock content %}
