{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4>{{ recipe.name }}</h4>
<img src="{{ MEDIA_URL }}{{ recipe.get_image_url }}" alt="{{ recipe.name }}">
<p>Ингредиенты: {{ recipe.ingredients | safe }}</p>
<p>Описание: {{ recipe.directions | safe }}</p>

<!-- Форма для комментариев -->
{% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button class="btn delicious-btn mt-30" type="submit">Отправить комментарий</button>
    </form>
{% else %}
    <p>Оставлять комментарии могут только авторизованные пользователи.</p>
{% endif %}

<!-- Вывод всех комментариев -->
<h4>Комментарии</h4>
<ul>
    {% if comments %}
      {% for comment in comments %}
        <li>{{ comment.user }}: {{ comment.message }}</li>
      {% endfor %}
    {% else %}
      <li>Пока нет комментариев.</li>
    {% endif %}
  </ul>

 <!-- Инициализация CKEditor для каждого текстового поля -->
   <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        CKEDITOR.replace('id_message');
    });
</script>
{% endblock content %}